name: Run Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10.0-rc.2'
      - name: Install dependencies
        run: |
          pip install --pre poetry
          poetry install
      - name: Run tests
        run: poetry run pytest -v
